

* {
    padding:0;
    margin:0;
    font-family:'Source Sans Pro', sans-serif;
}
        
  header {
    height:8vh;
    width:100%;
    background:rgb(37, 56, 60);
    color:white;
    position:fixed;
    z-index:999;
    display:flex;
    align-items:center;
    justify-content:center;
  }

  header ul {
    list-style-type:none;
  }

  header li {
    display:inline-block;
    color:white;
    opacity:0.6;
    transition:all 0.4s ease;
    border:1px solid rgba(255,255,255,0);
    border-radius:6vw;
    padding:.5vh 1.5vw;
  }

  header li:hover {
    opacity:1;
    border:1px solid rgba(255,255,255);
  }

  header li a {
    color:white;
    text-decoration:none;
  }