

* {
    padding:0;
    margin:0;
    font-family:'Source Sans Pro', sans-serif;
}
        
  header {
    text-align:center;
    height:8vh;
    width:100%;
    background:rgb(37, 56, 60);
    color:white;
    position:fixed;
    z-index:999;
  }

  header ul {
    list-style-type:none;
  }

  header li {
    display:inline-block;
    margin-left:2vw;
    margin-right:2vw;
    padding-top:2vh;
    color:white;
  }

  header a {
    opacity:0.6;
    transition:all .5s ease;
    border:.2vh solid rgba(255,255,255,0);
    padding:.5vw;
    border-radius:100%;
  }

  header a:hover {
    border:.2vh solid rgba(255,255,255,1);
    cursor:pointer;
    opacity:1;
    border-radius:50px;
    padding:.5vw;
  }

  @keyframes slidein {
      from {
          transform:translate(110vw);
      }

      to {
          transform:translate(0vw);
      }
  }

  @keyframes slideout {
    from {
        transform:translate(0vw);
    }

    to {
        transform:translate(-110vw);
    }
}